@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, main {
	height: 100%;
}

section {
	background-position: top;
	background-repeat: no-repeat;
    background-size: cover;
	height: 100%;	
	display: block;
}

button:focus {
	outline: 0;
}

.container {
	margin: 0 auto;
	width: 80%;
}

header a {
	float: left;
	padding-top: 9px;
	padding-bottom: 9px;
}

header nav {
	float: right;
}

header nav ul {
	list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
	color: white;
	font-family: 'Gentium Book Basic';
	font-size: 21px;
	height: 110px;
	padding-bottom: 44.5px;
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 44.5px;
	text-align: center;
    text-decoration: none;
}

#promo {
	background-image: url("../img/promo_background.jpg");
}

#about {
	background-image: url("../img/about_background.jpg");
}

#ingredients {
	background-image: url("../img/ingredients_background.jpg");
}

#menu {
	background-image: url("../img/menu_background.jpg");
}

#reviews {
	background-image: url("../img/reviews_background.jpg");
}

#reservations {
	background-image: url("../img/reservations_background.jpg");
}