// Google Fonts

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Lato|Open+Sans:400,400i|Yeseva+One');

// Font Variables

$gentium-book-basic: 'Gentium Book Basic', serif;
$yeseva-one: 'Yeseva One', cursive;
$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font Size Variables

$font-size-base: 16px;
$font-size-h1: 5.625em;
$font-size-h2: 2.25em;
$font-size-h3: 1.3125em;
$font-size-btn: 1.125em;
$font-size-p: 1em;
$font-size-label: .875em;

// Color Variables

$white: #ffffff;
$gray-light: #f2f4f4;
$gray: #7c7c7c;
$gray-dark: #4c4c4c;
$black: #000000;
$gold-light: #dab33e;
$gold: #c9a131;
$gold-dark: #cc9900;

// Image Loading

$img-path: '../img';

@function image($file) {
  @return url($img-path + '/' + $file);
}

@function bg_image($name) {
  @return image($name + '_background.jpg');
}