// Imports

@import 'base';

// Partials - Sections

@import 'partials/header';
@import 'partials/promo';
@import 'partials/about';
@import 'partials/ingredients';
@import 'partials/menu';
@import 'partials/reviews';
@import 'partials/reservations';
@import 'partials/footer';

// Global

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
blockquote,
ul,
body {
  margin: 0;
}

body {
  height: 100%;
  font: $font-size-base $yeseva-one;
  color: $white;
  text-align: center;
}

header,
section,
footer,
.content-wrapper {
  position: relative;
}

h1 {
  padding: .3em 0;
  font-weight: 400;
  font-size: $font-size-h1;

  @media screen and (max-width: 550px) {
    font-size: $font-size-h1 * .65;
  }
}

h2 {
  padding: .5em 0;
  font-weight: 400;
  font-size: $font-size-h2;

  &.text-gold {
    color: $gold-dark;
  }
}

h3 {
  padding: .7em 0;
  font-weight: 400;
  font-size: $font-size-h3;

  &.text-gold {
    color: $gold-dark;
  }
}

p {
  font: $font-size-p $lato;
  padding: 1em 1.5em;
  line-height: 1.5em;

  &.text-gray {
    color: $gray-dark;
  }
}

blockquote {
  font: $font-size-p * 1.2 $gentium-book-basic;
  padding: 1em 1.5em;
  line-height: 1.5em;
}


img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited {
  color: $white;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

hr {
  margin: 0 auto;
  width: 95%;
}

label {
  font: $font-size-label $open-sans;
  font-weight: 700;
  margin-bottom: .5em;
  text-align: center;
  display: block;
}

input {
  font: $font-size-input $open-sans;
  width: 80%;
  padding: .3em .5em;
  margin: 0 auto 1.5em auto;
  outline: none;
  border: 1px solid rgba($gray, .5);
  color: $black;
  display: block;

  &::placeholder {
    font-style: italic;
    color: $gray;
  }

  &:focus {
    border: 1px solid $gold;
  }
}

select {
  width: 80%;
  padding: .3em .5em;
  margin: 0 auto 1.5em auto;
  font: $font-size-input $open-sans;
  font-style: italic;
  outline: none;
  border: 1px solid rgba($gray, .5);
  display: block;
  cursor: pointer;
  background-color: $white;
  @include appearance(none);

  &:invalid {
    color: $gray;
  }
  
  [disabled] {
    color: $gray;
  }
  
  option {
    color: $black;
  }
}

.input-wrap {
  position: relative;
  width: 80%;
  display: block;
  margin: 0 auto;

  &:after {
    content: '';
    font-family: $font-awesome;
    position: absolute;
    width: 2em;
    top: 0;
    right: 0;
    line-height: 2.2em;
    color: $gray;
    cursor: pointer;
  }
}
