// Imports

@import 'base';

// Partials - Sections

@import 'partials/header';
@import 'partials/promo';
@import 'partials/about';
@import 'partials/ingredients';
@import 'partials/menu';
@import 'partials/reviews';
@import 'partials/reservations';
@import 'partials/footer';

// Global

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
blockquote,
ul,
body {
  margin: 0;
}

body {
  height: 100%;
  font: $font-size-base $yeseva-one;
  color: $white;
  text-align: center;
}

header,
section,
footer,
.content-wrapper {
  position: relative;
}

h1 {
  padding: .3em 0;
  font-weight: 400;
  font-size: $font-size-h1;

  @media screen and (max-width: 550px) {
    font-size: $font-size-h1 * .60;
  }

  @media screen and (max-width: 320px) {
    font-size: $font-size-h1 * .50;
  }

  @media screen and (max-width: 300px) {
    font-size: $font-size-h1 * .50;
    overflow: hidden;
  }
}

h2 {
  padding: .5em 0;
  font-weight: 400;
  font-size: $font-size-h2;

  &.text-gold {
    color: $gold-dark;
  }

  @media screen and (max-width: 300px) {
    font-size: $font-size-h2 * .60;
  }
}

h3 {
  padding: .7em 0;
  font-weight: 400;
  font-size: $font-size-h3;

  &.text-gold {
    color: $gold-dark;
  }
}

p {
  font: $font-size-p $lato;
  padding: 1em 1.5em;
  line-height: 1.5em;

  &.text-gray {
    color: $gray-dark;
  }
}

blockquote {
  font: $font-size-p * 1.2 $gentium-book-basic;
  padding: 1em 2em;
  line-height: 1.5em;
}


img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited {
  color: $white;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

hr {
  margin: 0 auto;
  width: 95%;
}

label {
  font: $font-size-label $open-sans;
  font-weight: 700;
  margin-bottom: .5em;
  text-align: center;
  display: block;
}

.bg-image {
  @media screen and (max-width: 480px) {
    background-attachment: scroll;
  }
}
