/* Header */

header {
    position: relative;
    z-index: 1;
}

#logo {
    float: left;
    padding-top: 8px;
}

nav ul {
    display: inline;
    float: right;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 48px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

nav ul li.active a {
    border-top: 3px solid lightgray;
}

nav ul li a:hover {
    border-top: 3px solid lightgray;
}

nav ul ul li a {
    padding: 50px 8px;
    color: goldenrod;
}

nav ul ul li a:hover {
    border-top: 0;
}