// Footer Section

#footer {
  .bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    background: $gray-darkest;
    width: 100%;
  }

  .content-wrapper {
    padding-bottom: 2em;
  }

  h3 {
    padding-top: 3em;
  }

  a {
    &:hover {
      color: $gold
    }
  }
}
