// Header

#header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: $header-height;
  
  @media screen and (min-width: 960px) {
    display: none;
  }

  @media screen and (max-width: 960px) {
    display: none;
  }

  .content-wrapper {

  }

  nav {

  }

  a {
    &.logo {
      img {
        height: $header-height;
      }
    }
  }

  ul {
    font-size: $font-size-nav;

    &.nav-menu {
      
    }

    &.social-menu {
      
    }
  }

  li {
    a {
      padding: 39px 20px 45px 20px;
	  border-top: 6px solid rgba(0,0,0,0);

      &.nav-link {
        font-family: $gentium-book-basic;

        &.active {
          &:before {
            border-top: 6x solid rgba($gray, .6);
          }
        }
		
		&:hover {
			border-top: 6x solid rgba($gray, .6);
		}
      }

      &.social-link {
        color: $gold-light;
      }
    }
  }
}
