// Reviews Section

#reviews {
  .bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    background: bg_image('reviews');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
  }

  .content-wrapper {
    padding: 2em 0;
    background: rgba($black, .7);
    box-shadow: inset 0 0 5em 3em rgba($black, .5);
  }

  blockquote {
    &:before {
      content: open-quote;
      position: absolute;
      left: .2em;
      font-family: $georgia;
      font-size: 4em;
      font-weight: 400;
      line-height: .6em;
      color: rgba($gray-light, .8);

      @media screen and (max-width: 480px) {
        left: .1em;
      }
    }
  }
}
