// About Section

#about {
  .bg-image {
    position: absolute;
    top: 0;
    bottom: 0;    
    background: bg_image('pattern');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
  }
  
  .content-wrapper {
    padding: 2em 0;
  }
}