// Menu Section

#menu {
  .bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    background: bg_image('pattern');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
  }

  .content-wrapper {
    padding-bottom: 2em;
  }

  h2 {
    padding-top: 2em;
  }

  h3 {
    display: inline-block;
    width: 45%;

    &:before {
      font-size: 0;
    }

    &:nth-child(odd) {
      text-align: left;
    }

    &:nth-child(even) {
      text-align: right;
    }
  }

  p {
    padding-left: 2em;
    text-align: left;
  }
}
